[user]
  name = Erik Anstine
  email = erikanstine@gmail.com
  username = erikanstine
[init]
  defaultBranch = main
[core]
  excludesFile = /Users/erikanstine/.gitignore
  editor = vim
  pager = less -FX
[web]
  browser = google-chrome
[color]
  ui = auto
[color "branch"]
  current = yellow bold
  local = green bold
  remote = cyan bold
[diff]
  tool = vimdiff
[pull]
  default = current
[alias]
  ps = push
  ###
  s = status -s -b
