[user]
  name = Erik Anstine
  email = erikanstine@gmail.com
  username = erikanstine
[init]
  defaultBranch = main
[core]
  editor = vim
[web]
  browser = google-chrome
[color]
  ui = auto
[color "branch"]
  current = yellow bold
  local = green bold
  remote = cyan bold
[diff]
  tool = vimdiff
[alias]
  ps = push
  ###
  s = status -s -b
